.number {
  font-size: 4rem;

  color: var(--cream);
}

.text {
  color: var(--blue);
}

.button {
  background: var(--pink);

  border: none;

  padding: 12px 18px;

  border-radius: 12px;

  cursor: pointer;
}
